html {
	font-size: 2rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	background-color: #6f23ff;
	text-align: center;
	margin: 0;
	color: white;
}

header {
	background-color: #ffd540;
	color: black;
}

#survey-form {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #7bcbbf;
	box-shadow: 5px 10px #052f2d;
	border-radius: 5px;
}
input {
	text-align: left;
}
.identity {
	text-align: left;
	padding: 10px;
}
.identity-input {
	height: 20px;
	border-radius: 5px;
	padding: 5px;
}

#radio {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#checboxes {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
